<<<<<<< HEAD
=======
#earth_div {
    background-image: stars.jpg;
}

#welcome {
  z-index: 9999;
  position: absolute;
  text-align: center;
  width: 100%;
  display: block;
  color: white;
}
>>>>>>> f0c6940fd29e487f90f5bc3adf514c316b648740
