#earth_div {
    background-image: stars.jpg;
}

#welcome {
  z-index: 9999;
  position: absolute;
  text-align: center;
  width: 100%;
  display: block;
  color: white;
}
#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;

    position:relative;
    left: 50%;
    margin-top:50%;
}
#header {
    color:white;
    text-align:center;
    padding:5px;
}
