<html>
<head>
    <meta charset='UTF-8'>
    <title>Down To Earth</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Exo:400,900,900italic' type='text/css'>
    <script type='text/javascript' src='javascripts/jquery-3.1.1.min.js'></script>
    <script type='text/javascript' src='http://www.webglearth.com/v2/api.js'></script>
    <script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?libraries=places'></script>
    <script type='text/javascript' src='javascripts/genesis.js'></script>
</head>
<body onload='run()'>
    <div id='map-canvas' style='display:none;'></div>
    <div id='earth_div'>
        <div id='welcome'>
            <h1>DOWN TO EARTH</h1>
            Drag to move the globe. Click to explore
        </div>
    </div>            
</body>
</html>